body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://i.pinimg.com/originals/2a/a5/13/2aa513545702c19a1f7ccac33a86e7a4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.section-box {
    background: rgba(0, 255, 42, 0.45);
    border: 1px solid rgba(0, 180, 255, 0.6);
    border-radius: 12px;
    padding: 22px;
    margin-bottom: 35px;
    transition: 0.25s ease;
    }
    
    .section-box:hover {
    transform: scale(1.01);
    border-color: #087e12;
    box-shadow: 0 0 12px rgba(4, 70, 12, 0.6);
    }

main {
  background: rgba(93, 134, 117, 0.75);
  margin: 25px;
  padding: 25px;
  border-radius: 12px;
  backdrop-filter: blur(2px);
     }

h1, h2 {
    text-align: center;
    color: #2e4d2c;
    font-weight: 800;
    
}
button {
    background: #445c32;
}
button:hover {
    background: #2e4d2c;
}


nav ul {
    background: rgba(117, 158, 161, 0.75);
    backdrop-filter: blur(4px);
    list-style: none; 
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 0px auto;
}

nav ul li a {
    text-decoration: none;
    color: #2e4d2c;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s ease;
}

nav ul li a:hover {
    background: #2e4d2c;
    color: rgb(249, 255, 249);
    border: 2px solid white;
}

table {
  width: 90%;
  padding: 0%;
  margin: 20px auto;
  border-collapse: collapse;
  background: rgba(247, 247, 247, 0.8);
  backdrop-filter: blur(6px);
  border: 2px solid #075f20;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 80, 0, 0.3);
}

th, td {
  border: 1px solid rgba(23, 90, 42, 0.4);
  padding: 12px;
  text-align: center;
  font-size: 1rem;
}

th {
  background-color: #1f6e35;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

tr:hover {
  background: rgba(144, 238, 144, 0.8);
  transition: 0.2s ease-in-out;
}
table img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  border: 2px solid #1f6e35;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 1rem;
}

form label {
  font-weight: 600;
  display: block;
  gap: 0px;
}

form input, form select, form textarea {
  width: 60%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

fieldset {
  padding: 10px;
  display: flex;
  border-radius: 8px;
  border: 1px solid #aaa;
  background-color: rgba(255,255,255,0.1);
}

button {
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}
